@media screen and (max-width: 400px) {
  .q-instructions {
    min-width: 280px;
    max-width: 80%;
  }
  .question h2{
    font-family: 'Oxygen', sans-serif;
    font-size: 22px;
    color: lightgreen;
    margin: 30px 0px 30px 30px;
    text-shadow: 0px 2px 3px black, 2px 3px 1px rgb(167, 192, 192);
  }
  .question__answer__text{
    text-shadow: 0px 2px 2px rgb(0, 0, 0, .8);
    font-family: 'Russo One', sans-serif; 
    font-size: 18px;
    color: rgb(144, 232, 238);
    margin: 0px 5px 0px 15px;
  }
/* /////////Add-Modal////////////// */
  .add-modal-form label {
    font-size: 21px;
  }
  /* ///////////Login//////////////// */
  #main__title-login {
    font-size: 11vw;
  }
  .login-form-c{
    width: 300px;
  }
}