.login-main{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 196, 216);
  background-image: url('../images/sauce.jpg');
  background-position: center;
  background-size: cover;
}
.login-form-c{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow:hidden;
  -webkit-box-shadow: 0px 10px 13px -7px rgb(0, 0, 0, .7), 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px rgb(0, 0, 0, .7), 
  5px 5px 15px 5px rgba(0,0,0,0);
  border: 1px solid white;
}
.login-signup-button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-button{
  width: 50%;
  height: 30px;
  background-color: rgba(242, 209, 223, 0.91);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.login-button span{
  color: rgb(171, 141, 228);
  font-family: 'Oxygen', sans-serif;
  margin: 0px 0px 0px 0px;
  text-align: center;
}
.signup-button{
  width: 50%;
  height: 30px;
  background-color: rgba(178, 216, 230, 0.91);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.signup-button span{
  color: rgb(171, 141, 228);
  font-family: 'Oxygen', sans-serif;
  margin: 0px 0px 0px 0px;
  text-align: center;
}
.signup-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: rgba(178, 216, 230, 0.91);
}
.login-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: rgba(242, 209, 223, 0.91);
}
.login-form label{
  width: 100%;
  color: rgb(171, 141, 228);
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 0px;
}
.login-form label input{
  width: 80%;
  height: 30px;
  outline: none;
  border: 2px solid rgb(161, 43, 211);
  border-radius: 8px;
  margin: 2px;
}
.login-form label input:invalid{
  border: 2px solid rgb(201, 108, 232);
}
.log-sign-login-button{
  color: rgb(171, 141, 228);
  height: 30px;
  width: 60%;
  border: 1px solid rgb(255, 239, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  box-shadow: 0px 3px 6px 0px rgb(0, 0, 0, .3);
  transition: all .4s;
  background-color :rgb(255, 255, 255, .2);
  margin: 20px 0px 20px 0px;
  cursor: pointer;
}
.log-sign-login-button span{
  font-family: 'Oxygen', sans-serif;
  transition: all .3s;
}
.log-sign-login-button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(215, 144, 238);
}

.log-sign-demo-button{
  color: rgb(171, 141, 228);
  height: 30px;
  width: 60%;
  border: 1px solid rgb(255, 239, 242);
  font-family: 'Oxygen', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  box-shadow: 0px 3px 6px 0px rgb(0, 0, 0, .3);
  transition: all .4s;
  background-color :rgb(255, 255, 255, .2);
  margin: 20px 0px 20px 0px;
  cursor: pointer;
}
.log-sign-demo-button span{
  font-family: 'Oxygen', sans-serif;
  transition: all .3s;
}
.log-sign-demo-button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(215, 144, 238);
}

/* /////////////Signup/Form/////////////////// */
.signup-form label{
  width: 100%;
  color: rgb(171, 141, 228);
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 0px 0px 0px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 0px;
}
.signup-form label input{
  width: 80%;
  height: 30px;
  outline: none;
  border: 2px solid rgb(161, 43, 211);
  border-radius: 8px;
  margin: 2px;
}
.signup-form label input:invalid{
  border: 2px solid rgb(201, 108, 232);
}

.error {
  border: 2px dashed red !important;
}

